@model AngujarCRUD.Models.Employee

@{  
    Layout = null;
}
<div class="modal-header">
    <h2>{{title}}</h2>
</div>

<div class="modal-body">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "empForm", id = "empForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @*@Html.HiddenFor(model => model.Id,new {ng_model = "editableItem.Id" })*@
            <input type="text" id="Id" name="Id" ng-model="editableItem.Id" hidden/>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name", ng_model = "editableItem.Name" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FatherName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.FatherName, new { @class = "form-control", placeholder = "Father Name", ng_model = "editableItem.FatherName" })
                    @Html.ValidationMessageFor(model => model.FatherName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MotherName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.MotherName, new { @class = "form-control", placeholder = "Mother Name", ng_model = "editableItem.MotherName" })
                    @Html.ValidationMessageFor(model => model.MotherName)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" ng-disabled="empForm.$invalid" ng-click="save(empForm)" />
                </div>
            </div>
        </div>
    }
</div>
    <div class="modal-footer">
    @Html.ActionLink("Back to List", "Index","Home")
</div>
